form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    .checkboxContainer{
        display: flex;
        align-items: center;
        figcaption{
            color: #fff;
            font-size: 14px;
        }
    }
    input,button{
        border: none;
        margin: 0.5rem;
    }
    input{
        background-color: #ffffff07;
        border-bottom: 1px solid #ffffff4d;
        padding: 0.75rem;
        color: #fff;
    }
    button{
        cursor: pointer;
        padding: 0.5rem;

    }
    button:hover{
        background-color: #b6b3b3;
        transition: all 250ms;
    }
    button:not(:hover){
        transition: all 250ms;
    }
}